<div class="row">
	<div class="col s6">
		
		<ul class="collention">
	<li class="collention indigo white-text" [hidden]="repositories.length>0"><p>cargando repositories...</p></li>
		<li class="collention red accent-2 white-text" [hidden]="!repository">
		<h2>{{repository.name}}</h2>
		<p>{{repository.description}}</p>
		</li>
	<li class="collection-item" *ngFor="let repo of repositories" (click)="setMainRepository(repo)">
		<h3>{{repo.name}}</h3>
		<p>{{repo.description}}</p>
	</li>
</ul>
	</div>

	<div class="col s6">
		<form (submit)="addNewRepo()">
			<div class="input-field">
				<input type="text" placeholder="nombre del repositorio"  name="name" [(ngModel)]="newRepository.name">
			</div>
			<div class="input-field">
				<input type="text" placeholder="descripcion" name="descripcion" [(ngModel)]="newRepository.description">
			</div>
		     <div class="input-field">
				<input type="submit" value="agregar repositorio" class="btn indigo">
			</div>
		</form>
	</div>

</div>

